<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head"); %>
  <body>
    <h2><%=username%></h2>
    <button><a href="/logout">cerrar</a></button>
    <%-include("../partials/newCliente"); %> <%-include("../partials/clientes"); %>
  </body>
</html>
