  <!-- FORMULARIO -->
  <section class="seccion">
    <form class="form contacto" id="Contacto" onsubmit="newCliente(); return false;">

      <h2 class="form__title">nuevo cliente</h2>
      <div class="form__container">
        <div class="form__group">
          <input type="text" id="nameCliente" class="form__input" name="nameCliente" required placeholder=" " />
          <label for="nameCliente" class="form__label">nombre</label>
          <spam class="form__line"></spam>
        </div>
        <div class="form__group">
          <input type="text" id="direccionCliente" class="form__input" name="direccionCliente" required
            placeholder=" " />
          <label for="direccionCliente" class="form__label">direccion</label>
          <spam class="form__line"></spam>
        </div>
        <div class="form__group">
          <input type="number" id="AlturaCliente" class="form__input" name="AlturaCliente" required
            placeholder=" " />
          <label for="AlturaCliente" class="form__label">Altura</label>
          <spam class="form__line"></spam>
        </div>
        <div class="form__group">
          <input type="text" id="descripcionCliente" class="form__input" name="descripcionCliente" required
            placeholder=" " />
          <label for="descripcionCliente" class="form__label">descripcion</label>
          <spam class="form__line"></spam>
        </div>
        <button type="submit" class="form__submit">crear</button>
      </div>
      </div>
    </form>
  </section>